.BankTransfer{
    width: 100%;
    min-width: 50px;
    height: fit-content;
    padding: 15px;
    margin: auto;
    /* margin-left: 20%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    /* border: 1px solid red; */
    background-color: #ecf0f1;
    }
    
    .Bank-FormContainer{
     /* border: 1px solid red; */
    /* border: 5px solid #00afb5; */
    width: 60%;
    /* height: 520px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    .signup-FormContainer>h3 {
      font-size: 28px;
      font-weight: 400;
      line-height: 33px;
      align-self: flex-start;
      color:red;
      font-weight: bolder;
      
    }
    
    
    .InputContainer {
    width: 100%;
    padding: 10px;
    }
    .InputContainer>p {
      font-size: 14px;
      font-weight: 600;
    }
    
    .InputContainer>input {
      width: 95%;
      height: 33px;
      padding-left: 5px;
      border-radius: 5px;
      /* border: 1px solid lightgray; */
      margin-top: 5px;
    }
      .InputContainer>:hover {
        border: 2px solid red;
    }
    .InputContainer>p:hover {
         border: 0px; 
    }
    
    
    .SignUp-Button{
        /* border: 1px solid red;  */
          /* width: 100%;  */
        /* height: 45px; */ 
        padding: 8px 60px;
        font-size: 20px;
        margin-top: 20px;
        color: white;
        font-size: bolder;
        background-color: #00afb5;
        border-radius: 5px;
        border: 0px;
    
    }
    .SignUp-Button:hover {
      background-color: red;
      border: 3px solid  #00afb5;
      
    }
    
 .InputContainer-div{
  width: 100%;
    padding: 10px;
 }
 .InputContainer-div{
  width: 100%;
    padding: 10px;
 }
 .InputContainer-div>p {
  font-size: 14px;
  font-weight: 600;
}
@media all and (min-width: 50px) and (max-width: 1500px){

.Bank-FormContainer{
  width: 360px;
  margin: auto;
}
.BankTransfer{
  width: 360px;
}
.Current-mode{
  font-size: 13px;
  font-weight: 600;
}
.SignUp-Button{
  padding: 5px 50px;
  font-size: 7px;
}
}

