.feedback-form-choise{
    display: flex;
    justify-content: space-evenly;
    background-color: #00afbc;
    height: 65px;
    width: 60%;
    /* border: 2px solid rgb(207, 9, 9); */
}
.feedback-form-smalldiv>div{
    border: 2px solid white;
    border-radius: 5px;

   
}

.feedbackDetail-FormContainer{
    /* border: 1px solid red; */
   /* border: 5px solid #00afb5; */
   width: 60%;
   /* height: 520px; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 15px;
   /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
.feedback-FormContainer-border{
    margin: auto;
    width: 40%;
    /* border: 2px solid rgb(207, 9, 9); */
  
}
.feedback-border-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

