

.profile-text-lebal1{   
    padding: 1px 68px;
    text-align: center;
    font-weight: 600;
    
}
.profile-text-lebal2{   
    padding: 1px 59px;
    font-weight: 600;
    
}
.profile-text-lebal3{
    font-weight: 600;
    padding: 1px 60px;
    
}
.profile-text-lebal4{
    font-weight: 600; 
    padding: 1px 70px;
    
}
.profile-text-lebal5{
    font-weight: 600;  
    padding: 1px 70px;
    
}
.profile-text{
    color: black;
   
    margin-left: 20%;
    
}